/*
  Este arquivo define os estilos da galeria de produtos.
  Utiliza CSS Grid para organizar as imagens em áreas específicas, com responsividade para mobile.
  Inclui estilos para cards de imagem, overlay ao passar o mouse, textos e botões personalizados.
*/
.galleryGrid {
  display: grid;
  gap: 30px;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model sneaker-color"
    "sneaker-white sneaker-white model sneaker-silver";
}

/* Mobile */
@media (max-width: 768px) {
  /* Ajusta o grid para duas colunas e áreas diferentes em telas menores */
  .galleryGrid {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "highlight highlight"
      "sneaker-white sneaker-white"
      "model sneaker-color"
      "model sneaker-silver"
      "sneaker-purple sneaker-purple";
  }

  /* Limita a altura dos cards de tênis branco e roxo no mobile */
  .sneakerWhite,
  .sneakerPurple {
    max-height: 190px;
  }
}

.highlight {
  grid-area: highlight;
}

.sneakerPurple {
  grid-area: sneaker-purple;
}

.model {
  grid-area: model;
}

.sneakerColor {
  grid-area: sneaker-color;
}

.sneakerWhite {
  grid-area: sneaker-white;
}

.sneakerSilver {
  grid-area: sneaker-silver;
}

.overlay {
  /* Overlay que aparece ao passar o mouse sobre o card */
  position: absolute;
  inset: 0;
  background-color: rgba(149, 148, 148, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageCard:hover .overlay {
  /* Exibe o overlay ao passar o mouse */
  opacity: 1;
}

.textContent {
  /* Estiliza o conteúdo de texto dentro do overlay */
  text-align: center;
}

.productName {
  /* Nome do produto no overlay */
  color: #ededed;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.08em;
  margin: 0;
}

.productDescription {
  /* Descrição do produto no overlay */
  color: #ededed;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  margin: 0;
}

.buttonGroup {
  /* Agrupa os botões no overlay */
  display: flex;
  gap: 10px;
}

.button {
  /* Estiliza os botões do overlay */
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  /* Efeito de hover nos botões */
  background-color: white;
  color: black;
}
